Django==1.6.5
MySQL-python==1.2.5
Pillow==2.4.0
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
billiard==3.3.0.18
boto==2.29.1
celery==3.1.11
dj-database-url==0.3.0
django-appconf==0.6
django-bootstrap-pagination==0.1.10
django-crispy-forms==1.2.8
django-heroku-memcacheify==0.5
django-imagekit==3.1
django-pylibmc-sasl==0.2.4
django-redis==3.6.1
django-registration==1.0
django-socialregistration==0.5.10
django-storages==1.1.8
foursquare==2014.04.10
gunicorn==18.0
httplib2==0.9
isodate==0.4.9
jsonfield==0.9.20
kegbot==1.0.1
kegbot-api==0.1.16
kegbot-pyutils==0.1.7
kombu==3.0.16
mock==1.0.1
newrelic==2.22.0.19
oauth2==1.5.211
pilkit==1.1.9
protobuf==2.5.0
psycopg2==2.5.3
pylibmc==1.2.3
python-gflags==2.0
python-openid==2.2.5
python-postmark==0.4.3
pytz==2014.2
redis==2.9.1
requests==2.2.1
six==1.7.2
tweepy==2.2
wsgiref==0.1.2
