Django==1.5.1
Pillow==1.7.8
South==0.8.1
amqp==1.0.12
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.28
celery==3.0.19
distribute==0.6.45
dj-database-url==0.2.1
django-appconf==0.6
django-bootstrap-pagination==0.1.10
django-celery==3.0.17
django-crispy-forms==1.2.8
django-icanhaz==0.2.1
django-imagekit==2.0.2
django-kombu==0.9.4
django-nose==1.1
django-registration==0.8
django-socialregistration==0.5.10
facebook-sdk==0.4.0
foursquare==20130402
gunicorn==0.17.4
httplib2==0.8
isodate==0.4.9
-e git+https://github.com/Kegbot/kegbot.git@da9b0214fd23836cf24946e7f8a46a22bf8fd107#egg=kegbot-dev
kegbot-api==0.1.8
kegbot-pyutils==0.1.7
kombu==2.5.11
mock==1.0.1
nose==1.3.0
oauth2==1.5.211
poster==0.8.1
protobuf==2.5.0
psycopg2==2.5
python-dateutil==2.1
python-gflags==2.0
python-memcached==1.51
python-openid==2.2.5
pytz==2013b
requests==1.2.3
six==1.3.0
tweepy==2.0
wsgiref==0.1.2
